--extra-index-url https://download.pytorch.org/whl/cpu
--find-links https://data.dgl.ai/wheels/torch-2.4/repo.html

jupyter
pandas
rdkit
deepchem
tensorflow
torch
dgl
dgllife
chembl-structure-pipeline
